body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: Arial, sans-serif;
    color: white;
}

/* NAVBAR */
header {
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

.nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

/* SLIDES */
.slide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: none;
    align-items: center;
    justify-content: center;
}

.slide.active {
    display: flex;
}

/* DARK OVERLAY */
.slide::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.content {
    position: relative;
    text-align: center;
    max-width: 700px;
}

h1 {
    font-size: 3em;
}

/* CONTROLS */
.controls {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 18px;
}
